/* damion and nunito sans */
@import url('https://fonts.googleapis.com/css2?family=Damion&family=Nunito+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* eagle sight */
@font-face {
  font-family: "Eagle Sight";
  src: url("./fonts/eagleSight/EagleSightRegular.ttf") format("truetype"),
    url("./fonts/eagleSight/eaglesightregular-webfont.woff") format("woff"),
    url("./fonts/eagleSight/eaglesightregular-webfont.woff2") format("woff2");
}

/* sherman */
@font-face {
  font-family: "Sherman";
  src: url("./fonts/sherman/sherman-display-webfont.woff") format("woff"),
    url("./fonts/sherman/sherman-display-webfont.woff2") format("woff2");
}

/* redwood alternative */
@font-face {
  font-family: "Redwood Alternative";
  src: url("./fonts/redwood/RedwoodAlternative.ttf") format("truetype"),
    url("./fonts/redwood/redwoodalternative-webfont.woff") format("woff"),
    url("./fonts/redwood/redwoodalternative-webfont.woff2") format("woff2");
}

/* redwood */
@font-face {
  font-family: "Redwood Regular";
  src: url("./fonts/redwood/RedwoodRegular.ttf") format("truetype"),
    url("./fonts/redwood/redwoodregular-webfont.woff") format("woff"),
    url("./fonts/redwood/redwoodregular-webfont.woff2") format("woff2");
}

/**
 * START --- SETUP TAILWINDCSS EDIT
 *
 * `yarn rw setup ui tailwindcss` placed these imports here
 * to inject Tailwind's styles into your CSS.
 * For more information, see: https://tailwindcss.com/docs/installation#include-tailwind-in-your-css
 */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/**
 * END --- SETUP TAILWINDCSS EDIT
 */

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply min-h-screen;
    background: #ebdac9 url("./images/bg__paper-texture.jpg");
    background-blend-mode: multiply;
  }

  label {
    @apply block text-base md:text-xl font-body font-bold text-zeus mb-1;
  }

  input[type=text],
  input[type=email] {
    @apply w-full font-body outline-none px-4 h-16 rounded-md;
  }

  textarea {
    @apply w-full font-body outline-none px-4 min-h-[128px] py-4 rounded-md;
  }

  .button,
  button,
  input[type=submit] {
    @apply border-b-0 uppercase font-wide hover:bg-gossamer text-base md:text-xl text-white bg-sinopia md:px-24 w-full md:w-auto h-16 rounded-md mx-auto inline-flex items-center justify-center cursor-pointer
  }

  .button-alt,
  button.button-alt {
    @apply border-b-0 uppercase font-wide bg-gossamer text-base lg:text-xl text-white hover:bg-sinopia md:px-24 w-full md:w-auto h-16 rounded-md mx-auto inline-flex items-center justify-center cursor-pointer
  }

  .body,
  p {
    @apply font-body mb-8 leading-6 md:leading-8 font-medium text-base md:text-xl;
  }

  li a,
  p a {
    @apply font-bold underline text-sinopia hover:text-gossamer;
  }

  ul {
    @apply marker:text-gossamer list-disc pl-5 space-y-3 font-body mb-7
  }

  hr {
    @apply border-t-2 h-0 bg-none w-full border-dashed border-twine;
  }

  code {
    @apply bg-[#272822] text-white py-1 px-2 rounded;
  }

  svg {
    fill: currentColor;
  }
}

@layer components {
  .page {
    @apply max-w-[1300px] px-5 mx-auto relative;
  }

  .bg-nav {
    mix-blend-mode: multiply;
    background: linear-gradient(
        to right,
        rgba(148, 148, 148, 0.7) 0%,
        rgba(148, 148, 148, 0.7) 24.9%,
        transparent 25%,
        transparent 100%
      );
    position: absolute;
    inset: 0;
  }

  .page-title {
    @apply text-center text-rangoonGreen mb-8 relative z-10 font-narrow uppercase leading-none text-[6rem];
  }

  .section-heading {
    @apply font-narrow text-cafeRoyale uppercase text-[4rem] md:text-[7rem] leading-[.9];
  }

  p.large-body {
    @apply font-bold text-lg lg:text-2xl mb-6;
  }

  .page-border {
    @apply mx-1 md:mx-8 border-0 outline-none min-h-screen;
    background: url('./images/dash--horizontal.svg') center top repeat-x,
      url('./images/dash--vertical.svg') left top repeat-y,
      url('./images/dash--vertical.svg') right top repeat-y;
  }

  .trees {
    @apply pt-6;
    background: url('./images/trees--background.png') center top repeat-x;
  }

  @media (min-width: 640px) {
  .trees {
      background: url('./images/trees--foreground--left.png') -125% top no-repeat,
          url('./images/trees--foreground--right.png') 195% top no-repeat,
          url('./images/trees--background.png') center top repeat-x;
    }
  }

  @media (min-width: 1024px) {
  .trees {
      background: url('./images/trees--foreground--left.png') -22% top no-repeat,
          url('./images/trees--foreground--right.png') 117% top no-repeat,
          url('./images/trees--background.png') center top repeat-x;
    }
  }

  .highlight {
    @apply inline font-bold;
    background: linear-gradient(
      transparent 30%,
      white 30.1%,
      white 100%
    );
  }

  footer a:hover {
    @apply text-gossamer border-b-2;
    border-bottom: currentColor;
  }

  /* removes spacing above the social media icons */
  ul.social > :not([hidden]) ~ :not([hidden]),
  .social > li ~ li  {
    @apply m-0 p-0
  }

  .module-lessons {
    @apply list-none;
    counter-reset: lesson var(--start-value, 0);
  }

  .module-lessons li:before {
    @apply absolute left-0 text-tealGreen font-bold text-xl;
    content: counter(lesson);
    counter-increment: lesson;
  }

  .module-lessons li {
    @apply pl-[2.5rem] relative min-h-[50px];
  }

  .tier {
    @apply flex flex-col;
  }

  .tier h3 {
    @apply font-script text-bone text-[42px] pl-12 pr-14 inline-block mx-auto relative mb-7;
    background: url('./images/arrow--right.png') right center no-repeat,
      url('./images/arrow--left.png') left center no-repeat;
  }

  .price {
    @apply text-zeus font-narrow text-[182px] text-center leading-[180px];
  }

  .price sup {
    @apply text-[72px] relative -top-[100px] mr-2
  }

  .pricing-box {
    @apply bg-zeus px-8 py-5 flex-1 flex flex-col;
  }

  .pricing-box ol {
    @apply list-disc pl-4 text-white font-body leading-7 mb-10;
  }

  .pricing-box ol li {
    @apply mb-2;
  }

  .error-box {
    @apply bg-melon p-5 border-2 border-cabSav text-center font-body
  }

  .success-box {
    @apply bg-sulu border-2 border-sheenGreen p-5 text-center
  }

  /* contentlayer component */
  .content h2 {
    @apply font-narrow uppercase text-6xl pt-8 pb-4
  }

  .content h3 {
    @apply font-wide uppercase text-2xl pt-4 mb-2 text-tealGreen
  }

  .content h4 {
    @apply font-body leading-6 md:leading-8 font-bold text-base md:text-xl;
  }

  .content li {
    @apply font-body mb-8 leading-6 md:leading-8 font-medium text-base md:text-xl;
  }

  .field {
    @apply mb-6;
  }
}


@layer utilities {
  .center {
    @apply flex items-center justify-center;
  }

  .gridAreaAutoGrow {
    grid-area: 1 / 1 / 2 / 2;
  }
}


/* SNIPCART COLORS */
button.snipcart-cart-header__option,
button.snipcart-cart-header__close-button {
  @apply hover:bg-transparent
}

button.snipcart-button-primary {
  @apply bg-sinopia hover:bg-tealGreen text-white font-bold;
}

.snipcart-button-link {
  @apply bg-halfSpanishWhite text-donkeyBrown px-5 border-0 h-10;
}
